body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3c3c3c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main {
    padding: 20px;
}


.intro {
    text-align: center;
    background-color: #fff;
    padding: 50px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2 {
    margin-top: 0;
}

.intro .btn {
    display: inline-block;
    background-color: #3c3c3c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.intro .btn:hover {
    background-color: #cacaca;
}


.features {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.feature {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.feature h3 {
    margin-top: 0;
}

footer {
    
    color: #000000;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

